.firstBody{
    color: red;
    background-color: lightsalmon;
    height: 50%;
    border: 0%;
   
}
.menu{
    color: sienna;
    background-color: salmon;
    height: 20%;
    border: 0%;
}

h1{
    color: aquamarine;
}